.health-score-gauge {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gauge-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  text-align: center;
}

.score-number {
  font-size: 2rem;
  font-weight: 700;
}

.score-max {
  font-size: 0.9rem;
  color: var(--gray-600);
}
